<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Single">
    <parameter name="config" value="single.conf.json"/>
    <test name="SingleTest" thread-count="1" parallel="false">
        <groups>
            <run>
                <include name="all"/>
                <include name="regression"/>
                <include name="sanity"/>
            </run>
        </groups>
        <classes>
            <class name="testcases.BaseTest"/>
        </classes>

    </test>
</suite>
